.JTGH_WPHGP_cat_container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.8rem;
    row-gap: 0.6rem;
    margin: 0!important;
    padding: 0!important;
    margin-bottom: 2rem!important;
}
.JTGH_WPHGP_cat_container li {
    list-style-type: none;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0!important;
    padding: 0.2rem 0.7rem 0.1rem 0.6rem!important;
    background: #7A6460;
    color: #F1F1F1;
    min-width: 6rem;
    text-align: center;
    cursor: pointer;
}
.JTGH_WPHGP_cat_container li:hover {
    transform: scale(1.1);
}
@media only screen and (max-width: 766px) {
	.JTGH_WPHGP_cat_container li {
		font-size: 0.8rem;
        padding: 0.2rem 0.7rem 0.1rem 0.6rem!important;
	}
}

.JTGH_WPHGP_category_posts_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 2rem!important;
}
.JTGH_WPHGP_category_post_container {
    display: flex;
    flex-direction: column;
    border: 1px solid #777777;
    border-radius: 20px;
    overflow: hidden;
    height: 100%;
}
.JTGH_WPHGP_category_post_img {
    background: #EAE6E0;
}
.JTGH_WPHGP_category_post_img img {
    object-fit: contain;
}
.JTGH_WPHGP_category_post_title {
    padding: 0rem 0.8rem 0.4rem 0.8rem;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 1.1;
    text-align: center;
    background: #EAE6E0;
}
.JTGH_WPHGP_category_post_meta {
    font-size: 0.7rem;
    background: #EAE6E0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.6rem;
}
.JTGH_WPHGP_category_post_meta svg {
    margin-right: 0.2rem;
    margin-bottom: 0.1rem;
}
.JTGH_WPHGP_category_post_extract {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    text-align: justify;
}
.JTGH_WPHGP_category_post_link {
    padding: 0.4rem 0.8rem;
    text-align: right;
}
.JTGH_WPHGP_category_post_link a {
    text-decoration: none;
}

@media only screen and (max-width: 960px) {
    .JTGH_WPHGP_category_posts_container {
        grid-template-columns: 1fr 1fr;
    }
    .JTGH_WPHGP_category_post_title {
        font-size: 1.3rem;
    }
}
@media only screen and (max-width: 660px) {
    .JTGH_WPHGP_category_posts_container {
        grid-template-columns: 1fr;
    }
    .JTGH_WPHGP_category_post_title {
        font-size: 1.2rem;
    }
}
.JTGH_WPHGP_grid_next_row {
    grid-column-start: 1;
}