.JTGH_WPHGP_texte_gras {
    font-weight: bold;
}

.JTGH_WPHGP_red_color {
    color: red;
}

.JTGH_WPHGP_notice_alert {
    color: red;
    font-weight: bold;
}

.JTGH_WPHGP_notice_success {
    color: green;
    font-weight: bold;
}

.JTGH_WPHGP_home_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
}
