.JTGH_WPHGP_texte_gras {
    font-weight: bold;
}

.JTGH_WPHGP_texte_align_center {
    text-align: center;
}

.JTGH_WPHGP_red_color {
    color: red;
}

.JTGH_WPHGP_notice_alert {
    color: #A01020;
    background-color: #F0D0D0;
    border: 1px solid #F0C0B0;
    border-radius: 4px;
    font-weight: 600;
    padding: 0.6rem;
    margin-right: 1rem;
}

.JTGH_WPHGP_notice_success {
    color: #108020;
    background-color: #D0F0E0;
    border: 1px solid #A0D0C0;
    border-radius: 4px;
    font-weight: 600;
    padding: 0.6rem;
    margin-right: 1rem;
}

.JTGH_WPHGP_notice_warning {
    color: #B08000;
    background-color: #FFF0D0;
    border: 1px solid #F0E0C0;
    border-radius: 4px;
    font-weight: 600;
    padding: 0.6rem;
    margin-right: 1rem;
}

.JTGH_WPHGP_center_div_column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.JTGH_WPHGP_center_div_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.JTGH_WPHGP_home_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 1rem;
}

.JTGH_WPHGP_categories_layout {
    display: grid;
    grid-template-columns: 1fr min-content 1fr min-content;
    grid-template-rows: auto;
    grid-template-areas:
        "cat_title_gauche .  cat_title_droite ."
        "cat_select_gauche cat_btn_bascul cat_select_droite cat_btn_up_down";
    column-gap: 2%;
    margin: 0 10%;
    width: 80%;
}

.JTGH_WPHGP_select_cat_layout {
    width: 100%;
    max-width: 25rem!important;
    min-height: 20rem!important;
    margin: auto;
}

.JTGH_WPHGP_cat_btn_bascul {
    font-size: 1.2rem;
    padding: 0.6rem;
    margin: 0.4rem 0rem;
    min-width: 4rem;
}

.JTGH_WPHGP_categories_bottom_btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2%;
    margin: 0 10%;
    width: 80%;
}

.JTGH_WPHGP_header_navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #555555;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    background: #D0E0F0;
}
.JTGH_WPHGP_header_navigation a {
    color: black;
    text-decoration: none;
    padding: 0.8rem;
    background: #F0F0F0;
    border-radius: 8px;
    border: 1px solid #555555;
}